[user]
	email = leandre.leduc38@gmail.com
	name = Le Duc Léandre
[alias]
	ri = "!f() { git rebase -i HEAD~$1; }; f"
[safe]
	directory = /home/lleduc/code/imag/mnt-riscv
[push]
	autoSetupRemote = true
[commit]
	gpgSign = false
